.label {
  color: #5e5e5e;
  font-family: "Outfit", sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 2px;
  text-transform: uppercase;
  text-align: left;
}

.select {
  background-color: #fff;
  border-radius: 5px;
  border: 0 !important;
  font-family: "Outfit", sans-serif;
  width: 100%;
}
