.header-menu-custom {
  position: absolute;
}
.hamburger-menu-slider {
  right: 0px;
  position: fixed;
  width: 0%;
  height: 100vh;
  background-color: #f7f7f7f7;
  z-index: 1;
  top:110px
  /* opacity: 0; */
}
.menu-bar-style {
  height: 120px;
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  position:fixed;
  background-color: #f7f7f7;
  top:0px;
  z-index: 1;
}
.header-button-style {
  border: 2px solid #161616 !important;
  background-color: #f7f7f7 !important;
  width: 185.13px !important;
  border-radius: 8px !important;
  height: 60px !important;
  font: normal normal 900 16px/24px Outfit !important;
  letter-spacing: 0px !important;
  color: #111111 !important;
  margin-top: 22px !important;
  margin-left: 353% !important;
}
.header-button-style .book-now-button-text {
  color: #161616;
  font-weight: 700 !important;
  font-size: 16px;
  font: normal normal bold 16px/24px Outfit !important;
  letter-spacing: 0.1px;
}
.header-list-default-style {
  text-align: center;
  width: auto !important;
  padding-top: 48px;
  margin-left: 0px !important;
  font: normal normal normal 20px/25px Outfit, Regular;
  letter-spacing: 0px;
  opacity: 1;
  border: none;
  padding-right: 26px;
  padding-left: 26px;
}
.header-list-default-style a{
  color: #000000 !important;
}
.header-list-default-style :hover {
  color: #7ecc01;
}
.seed-logo {
  width: 159px;
  margin-left: 100px;
  margin-right: 30px;
}

.header-menu-option {
  /* background-color: red; */
  /* padding-top: 30px !important; */
}
.hamburger-menu {
  display: none !important;
  visibility: hidden !important;
}
.hamburger-menu-col {
  display: none !important;
}
 .about-us{
   margin-left: 28px;
}
ul li::marker{
  display: none;
}
@media only screen and (max-width: 1600px) {
  .header-list-default-style {
    text-align: center;
    font: normal normal 400 20px/25px Outfit, Regular;
    letter-spacing: 0px;
    margin-left: 0px !important;
    color: #111111 !important;
    opacity: 1;
    border: none;
    /* background-color: red; */
  }
  .seed-logo {
    width: 159px;
    margin-left: 45px;
    margin-right: 35px;
  }
  .header-button-style {
    border: 2px solid #161616 !important;
    background-color: #f7f7f7 !important;
    width: 185.13px !important;
    border-radius: 8px !important;
    height: 60px !important;
    font: normal normal 900 16px/24px Outfit !important;
    letter-spacing: 0px !important;
    color: #111111 !important;
    margin-top: 22px !important;
    margin-left: 229% !important;
  }

}
@media only screen and (max-width: 1440px) {
  .header-list-default-style {
    text-align: center;
    font: normal normal 400 20px/25px Outfit, Regular;
    letter-spacing: 0px;
    margin-left: 0px !important;
    color: #111111 !important;
    opacity: 1;
    border: none;
    /* background-color: red; */
  }
  .seed-logo {
    width: 159px;
    margin-left: 45px;
    margin-right: 35px;
  }
  .header-button-style {
    border: 2px solid #161616 !important;
    background-color: #f7f7f7 !important;
    width: 185.13px !important;
    border-radius: 8px !important;
    height: 60px !important;
    font: normal normal 900 16px/24px Outfit !important;
    letter-spacing: 0px !important;
    color: #111111 !important;
    margin-top: 22px !important;
    margin-left: 141% !important;
  }
}

@media only screen and (max-width: 1336px) {
  .header-list-default-style {
    text-align: center;
    font: normal normal 400 20px/25px Outfit, Regular;
    letter-spacing: 0px;
    margin-left: 0px !important;
    color: #111111 !important;
    opacity: 1;
    border: none;
    /* background-color: red; */
  }
  .seed-logo {
    width: 159px;
    margin-left: 45px;
    margin-right: 35px;
  }
  .header-button-style {
    border: 2px solid #161616 !important;
    background-color: #f7f7f7 !important;
    width: 185.13px !important;
    border-radius: 8px !important;
    height: 60px !important;
    font: normal normal 900 16px/24px Outfit !important;
    letter-spacing: 0px !important;
    color: #111111 !important;
    margin-top: 22px !important;
    margin-left: 85% !important;
  }
}
@media only screen and (max-width: 1200px) {
  .menu-bar-style{
    padding-left: 0px;
  }
  .header-list-default-style {
    text-align: center;
    font: normal normal 400 18px/25px Outfit, Regular;
    letter-spacing: 0px;
    margin-left: 0px !important;
    color: #111111 !important;
    opacity: 1;
    border: none;
    /* background-color: red; */
  }
  .seed-logo {
    width: 159px;
    margin-left: 10px;
    margin-right: 30px;
  }
  .header-button-style {
    border: 2px solid #161616 !important;
    background-color: #f7f7f7 !important;
    width: 159.13px !important;
    border-radius: 8px !important;
    height: 53px !important;
    font: normal normal 900 16px/24px Outfit !important;
    letter-spacing: 0px !important;
    color: #111111 !important;
    margin-top: 22px !important;
    margin-left: 45% !important;
    padding-left: 16px !important;
  }
  .header-button-style .book-now-button-text {
    color: #161616;
    font-weight: 700 !important;
    font-size: 16px;
    font: normal normal bold 16px/24px Outfit !important;
    letter-spacing: 0.1px;
  }
}

@media only screen and (max-width: 914px) {

  .seed-logo{
    width:155px !important;
  }
  .header-list-default-style {
    display: none !important;
  }
  .header-button-style {
    display: none !important;
  }
  .menu-bar-style {
    background-color: #f7f7f7 !important;
  }
  .hamburger-menu {
    font-size: 24px;
    visibility: visible !important;
    display: block !important;
    /* height: 30px !important; */
    /* width: 30px !important; */
  }
  .hamburger-menu-col {
    display: block !important;
    margin-top: 50px;
    position:absolute;
    right: 40px;
  }
  .hamburger-menu-items {
    /* margin-top: 20px; */
    height: 50px;
    font: normal normal 300 24px/12px Outfit, Regular !important;
  }
  .hamburger-button-style {
    width: 300px;
    height: 65px !important;
    border: 2px solid #161616 !important;
    background-color: #f7f7f7 !important;
    border-radius: 8px !important;
    font: normal normal bold 20px/24px Outfit !important;
  }
  .first{
    margin-top: 50px !important;
  }
  .hamburger-button-style .book-now-button-text {
    color: #161616;
    font-weight: 700 !important;
    font-size: 16px;
    font: normal normal bold 16px/24px Outfit !important;
    letter-spacing: 0.1px;
  }
  .book-now-button-text:hover{
    color: green;
  }
}
@media only screen and (max-width: 800px) {
  .header-list-default-style {
    display: none !important;
  }
  .header-button-style {
    display: none !important;
  }
  .menu-bar-style {
    background-color: #f7f7f7 !important;
  }
  .hamburger-menu {
    font-size: 24px;
    visibility: visible !important;
    display: block !important;
    /* height: 30px !important; */
    /* width: 30px !important; */
  }
  .hamburger-menu-col {
    display: block !important;
  }
  .hamburger-menu-items {
    /* margin-top: 20px; */
    height: 50px;
    font: normal normal 300 24px/12px Outfit, Regular !important;
  }
  .hamburger-button-style {
    width: 300px;
    height: 65px !important;
    border: 2px solid #161616 !important;
    background-color: #f7f7f7 !important;
    border-radius: 8px !important;
    font: normal normal bold 20px/24px Outfit !important;
  }
  .first{
    margin-top: 50px !important;
  }
  .hamburger-button-style .book-now-button-text {
    color: #161616;
    font-weight: 700 !important;
    font-size: 16px;
    font: normal normal bold 16px/24px Outfit !important;
    letter-spacing: 0.1px;
  }
  .book-now-button-text:hover{
    color: green;
  }
}

@media only screen and (max-width: 576px) {
}
@media only screen and (max-width: 412px) {
  .header-list-default-style {
    display: none !important;
  }
  .header-button-style {
    display: none !important;
  }
  .menu-bar-style {
    background-color: #f7f7f7 !important;
  }
  .hamburger-menu {
    font-size: 24px;
    visibility: visible !important;
    display: block !important;
    /* height: 30px !important; */
    /* width: 30px !important; */
  }
  .hamburger-menu-col {
    display: block !important;
  }
  .hamburger-menu-items {
    /* margin-top: 20px; */
    height: 50px;
    font: normal normal 300 24px/12px Outfit, Regular !important;
  }
  .hamburger-button-style {
    width: 300px;
    height: 65px !important;
    border: 2px solid #161616 !important;
    background-color: #f7f7f7 !important;
    border-radius: 8px !important;
    font: normal normal bold 20px/24px Outfit !important;
  }
  .first{
    margin-top: 50px !important;
  }
  .hamburger-button-style .book-now-button-text {
    color: #161616;
    font-weight: 700 !important;
    font-size: 16px;
    font: normal normal bold 16px/24px Outfit !important;
    letter-spacing: 0.1px;
  }
  .book-now-button-text:hover{
    color: green;
  }
  .ant-col-xs-offset-8{
    margin-left: 40%;
  }
}
