.RegionWrapper {
    background-color: #ffffff;
    margin: 0 56px 0 56px;
    min-height: 670px;
    border-radius: 20px;
    .site-card-wrapper {
        margin: 30px;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .ant-row {
        justify-content: space-evenly
    }
    .regionCard{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        transition: 0.3s;
        width: 201px;
        height: 246px;
        margin-right: 10px;
        border-radius:10px;
        &:hover {
            box-shadow: 0px 3px 20px #2A2C3822;
            .actionIcons {
            transition: 0.2s ease-in;
            opacity: 1;
        }
        }
        .topBar {
            display: flex;
            margin-top: 10px;
            margin-left: 10px;
        }
        .DefaultIcon {
            img {
                width: 27px;
                height: 34px;
            }
        }
        .ant-card-body {
            padding: 10px;
        }
        .actionIcons {
            opacity: 0;
            display: flex;
            margin-left: auto;
            .deleteButton {
                background-color: #E8303D;
            }
            button {
                border: 1px solid #D1D1D1;
                border-radius: 40px;
                width: 30px;
                height: 30px;
                margin-left: 3px;
                transition: 0.3s;
                &:hover {
                    box-shadow: 0px 3px 8px #2a2c3850;
                }
                img {
                    height: auto;
                    width: 10px;
                }
            }
        }
        .cardContent {
                p {
                        position: absolute;
                        left: 20px;
                        bottom: 10px;
                        font-size: 18px;
                        text-align: left;
                        font-weight: 500;
                        padding-right: 54px;
                }
            }
    }
}
.newRegion {
    width: 201px;
    height: 246px;   
    margin-right: 10px;
    border-radius: 10px;
    transition: 0.3s;
    position: relative;
    background: transparent linear-gradient(270deg, #86D400 0%, #59A506 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 13px 33px #86D40040;
    &:hover {
            box-shadow: 0px 3px 20px #2a2c385d;
    }
    .plusButton {
            position: absolute;
            left: 42%;
            top: 32%;
            color: #fff;
            font-size: 45px;
            font-weight: 700;
    }
    p {
        position: absolute;
        color: #fff;
        bottom: 20px;
        left: 29%;
        font-weight: 700;
    }
}