.App {
  text-align: center;
  background: #f7f7f7;
  /* max-width: 1600px; */
  margin: 0px auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container-fluid {
  max-width: 1600px;
  /* min-width: 425px !important; */
  margin: 0px auto;
  /* background-color: red; */
  padding: 0 15px;
}
.mainLayout .ant-layout-header {
  background: #f7f7f7;
  padding: 0px;
  height: auto;
  line-height: 5.6;
}
.main-layout-header-bar {
  height: 109px !important;
  text-align: center;
}

.header-button-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f7f7f7;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
